temp
outputs
*_outputs
datasets
notes
image_results*
test_code
__pycache__
.DS_Store
*.ipynb
*.r 
*.txt
*.csv
*.tgz
*.png
compression_mpi.e*
compression_mpi.o*
.Rhistory
.spack-env
.spack_config
spack.lock
*.error
*.out
__MACOSX
*.log
.vscode
